.colecoes {
    max-width: 1100px;
    /* border: 1px solid red; */
    margin: 20px auto;
}

.colecoes h2 {
    text-transform: uppercase;
    color: var(--gray);
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.colecoes_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card_colecoes img {
    width: 100%;
    /* display: block; */
}

.card_colecoes {
    flex: 1 1 150px;
}

.card_colecoes p {
    color: var(--gray);
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 8px;
}